p {
    font-family: "Times New Roman";
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
    color: #080554;
	
}

a[href] {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

a[href]:hover {
    color: #aface3;
    font-size: 21px;
}

a[href]:visited {
    color: #bd04b7;
}

a[href]:hover:visited {
    color: #aface3;
    font-size: 21px;
}

body {
    width: 90%;
    margin: auto;
    background-color: wheat;
    background-image: -webkit-linear-gradient(90deg, rgb(106, 168, 195), rgb(20, 90, 56));
    background-image: linear-gradient(90deg, rgb(106, 168, 195), rgb(20, 90, 56));

}

q {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background: #e4ebed;
    border-left: 3px solid Firebrick;
    padding: 80px 0px 80px 30px;
   
}