p {
    font-family: "Times New Roman";
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
    color: #080554;
	
}

a[href] {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

a[href]:hover {
    color: #aface3;
    font-size: 21px;
}

a[href]:visited {
    color: #bd04b7;
}

a[href]:hover:visited {
    color: #aface3;
    font-size: 21px;
}

body {
    width: 90%;
    margin: auto;
    background-color: wheat;
    background: linear-gradient(90deg, rgb(106, 168, 195), rgb(20, 90, 56));
    background-image: url("https://images.unsplash.com/photo-1523741543316-beb7fc7023d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

q {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background: #e4ebed;
    border-left: 3px solid Firebrick;
    padding: 80px 0px 80px 30px;
   
}